{% extends 'base/dashboard/dashboard_base.html' %}

{% block dashboard %}

<!-- Content Wrapper. Contains page content -->
<div class="content-wrapper">
    <!-- Content Header (Page header) -->
    <div class="content-header">
        <div class="container-fluid">
        <div class="row mb-2">
            <div class="col-sm-6">
            <h1 class="m-0 text-dark">Liste des Membres</h1>
            </div><!-- /.col -->
            <div class="col-sm-6">
            <ol class="breadcrumb float-sm-right">
                <li class="breadcrumb-item"><a href="#">Home</a></li>
                <li class="breadcrumb-item active">Membres</li>
            </ol>
            </div><!-- /.col -->
        </div><!-- /.row -->
        <div class="row">
            <a href="{% url 'projetapp:newproject' %}" class="btn btn-sm bg-teal" style="float: right">
                <i class="fas fa-comments">Ajout de projet</i>
            </a>
        </div>
        </div><!-- /.container-fluid -->
    </div>
    <!-- /.content-header -->
    
    <!-- Info boxes -->
    <div class="row" style="margin: 0px 20px">
        <!-- USERS LIST -->
        
        <div class="card">
            <div class="card-header">
                <h3 class="card-title">La Team de parainage</h3>

                <div class="card-tools">
                <span class="badge badge-danger">20 Membres</span>
                <button type="button" class="btn btn-tool" data-card-widget="collapse"><i class="fas fa-minus"></i>
                </button>
                <button type="button" class="btn btn-tool" data-card-widget="remove"><i class="fas fa-times"></i>
                </button>
                </div>
            </div>
            <!-- /.card-header -->
            <div class="card-body p-0">
                <ul class="users-list clearfix">
                    {% for user in users %}
                    {% if forloop.counter > 1 %}
                    <li class="col-lg-2 col-md-4">
                        <a href="{% url 'projetapp:detailuser' user.id %}">
                        <img src="{{ user.profile_user.image.url }}" alt="User Image" width="60%", heigth="60%">
                        <!-- <span class="badge badge-warning ">15</span> -->
                        <span class="users-list-name" >{{ user.profile_user.user }}</span>
                        <span class="users-list-date">{{ use.profile_user.fonction }}</span>
                        </a>
                    </li>
                    {% endif %}
                    {% endfor %}
                </ul>
                <!-- /.users-list -->
            </div>
            <!-- /.card-body -->
        </div>
        <!--/.card -->

    </div>

    <div class="row" style="margin: 0px 20px">
        <div class="col-12">
    
            <div class="card">
            <div class="card-header">
                <h3 class="card-title">Liste des membres</h3>
            </div>
            <!-- /.card-header -->
            <div class="card-body">
                <table id="example1" class="table table-bordered table-striped">
                <thead>
                <tr>
                    <th>Date Naiss</th>
                    <th>Nom & Prenom</th>
                    <th>Fonction</th>
                    <th>Projet Participé</th>
                    <th>Projet en cours ..</th>
                    <th>Promotion</th>
                
                </tr>
                </thead>
                <tbody>
                    {% for use in users %}
                    {% if forloop.counter > 1 %}
                    <tr>
                        <td>09/11/2019</td>
                        <td><a href="{% url 'projetapp:detailuser' use.id %}"> {{ use.last_name }} {{ use.username }}</a> </td>
                        <td>{{ use.profile_user.fonction }}</td>
                        <td>#</td>
                        <td>#</td>
                        <td>{{ use.profile_user.promotion }}</td>
                    </tr>
                    {% endif %}
                    {% endfor %}
                    
                <!-- <tr>
                    <td>09/11/2019</td>
                    <td>Dago Serge Martial</td>
                    <td>Dev Front</td>
                    <td>05</td>
                    <td>02</td>
                    <td>NaN1.18</td>
                </tr>
                <tr>
                    <td>09/11/2019</td>
                    <td>Dago Serge Martial</td>
                    <td>Dev Front</td>
                    <td>05</td>
                    <td>02</td>
                    <td>NaN1.18</td>
                </tr>
                <tr>
                    <td>09/11/2019</td>
                    <td>Dago Serge Martial</td>
                    <td>Dev Front</td>
                    <td>05</td>
                    <td>02</td>
                    <td>NaN1.18</td>
                </tr>
                <tr>
                    <td>09/11/2019</td>
                    <td>Dago Serge Martial</td>
                    <td>Dev Front</td>
                    <td>05</td>
                    <td>02</td>
                    <td>NaN1.18</td>
                </tr>
                <tr>
                    <td>09/11/2019</td>
                    <td>Dago Serge Martial</td>
                    <td>Dev Front</td>
                    <td>05</td>
                    <td>02</td>
                    <td>Oui</td>
                </tr>
                <tr>
                    <td>09/11/2019</td>
                    <td>Dago Serge Martial</td>
                    <td>Dev Front</td>
                    <td>05</td>
                    <td>02</td>
                    <td>NaN2.19</td>
                </tr>
                <tr>
                    <td>09/11/2019</td>
                    <td>Dago Serge Martial</td>
                    <td>Dev Front</td>
                    <td>05</td>
                    <td>02</td>
                    <td>NaN2.19</td>
                </tr>
                <tr>
                    <td>09/11/2019</td>
                    <td>Dago Serge Martial</td>
                    <td>Dev Front</td>
                    <td>05</td>
                    <td>02</td>
                    <td>NaN2.19</td>
                </tr>
                <tr>
                    <td>09/11/2019</td>
                    <td>Dago Serge Martial</td>
                    <td>Dev Front</td>
                    <td>05</td>
                    <td>02</td>
                    <td>NaN2.19</td>
                </tr>
                <tr>
                    <td>09/11/2019</td>
                    <td>Dago Serge Martial</td>
                    <td>Dev Front</td>
                    <td>05</td>
                    <td>02</td>
                    <td>NaN2.19</td>
                </tr>
                <tr>
                    <td>09/11/2019</td>
                    <td>Dago Serge Martial</td>
                    <td>Dev Front</td>
                    <td>05</td>
                    <td>02</td>
                    <td>NaN2.19</td>
                </tr>
                <tr>
                    <td>09/11/2019</td>
                    <td>Dago Serge Martial</td>
                    <td>Dev Front</td>
                    <td>05</td>
                    <td>02</td>
                    <td>NaN2.19</td>
                </tr>
                </tbody>
                <tfoot>
                <tr>
                    <th>Date Naiss</th>
                    <th>Nom & Prenom</th>
                    <th>Fonction</th>
                    <th>Projet Participé</th>
                    <th>Projet en cours ..</th>
                    <th>Promotion</th>
                </tr> -->
                </tfoot>
                </table>
            </div>
            <!-- /.card-body -->
            </div>
            <!-- /.card -->
        </div>
        <!-- /.col -->
    </div>
    <!-- /.row -->

</div>
<!-- ./wrapper -->

{% endblock %}